div{
    margin: 0.5in;
}
.first{
    display: flex;
    justify-content:left;
    align-items:left;

}
.first.right{
    margin:400px;
}
.first.left{
    margin: 50px;
}
.second{
    display: flex;
    justify-content:right;
    align-items:right;
}
.second.left{
    size: 10px;
    margin-right: 5000px;

}
.second.right{
    margin-left: 500px;
    padding-left: 20%;
    justify-content:center;
    align-items:center;
}
.last{
    display: flex;
    padding: 80px;
    width:1000px;
    justify-content:center;
    align-items:center; 
}
.fourth{
    background-color: rgb(149, 195, 248);
    margin: 30px;
    padding: 30px;
}
.fourth:hover{
    font-weight:bolder;
    background-color: rgb(241, 66, 81);
    font-stretch:extra-expanded;
    color:aliceblue;
}
.fifth{
    background-color: rgb(236, 200, 37);
    margin: 30px;
    padding: 30px;
}
.sixth{
    background-color: rgba(49, 197, 36, 0.952);
    margin: 30px;
    padding: 30px;
}
